/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding: 0;
  margin: 0;
  color: black;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 15px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  float: left;
  border: 2px solid black;
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.card {
  float: right;
  border: 2px solid black;
  height: 90px;
  width: 450px;
  color: black;
}

.header {
  padding-left: 14px;
  margin-bottom: 0;
}

.footer {
  float: right;
  margin-right: 10px;
  margin-top: 0;
}

.bio {
  height: 130px;
  border: 2px solid black;
  padding-left: 10px;
}

.post {
  height: 110px;
  border: 2px solid black;
  padding-left: 10px;
}

.btn {
  width: 100px;
  margin: auto;
  border: 2px solid black;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}
